# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# AI Models & Cache
.cache/
huggingface/
coreml/

# IDE
.vscode/
.idea/

# Node
node_modules/
dist/
build/

# Project Specific
*.log

# Allow database and the optimized AI results (Small enough for GitHub)
!movies.db
!artifacts/*.pkl
*.db-journal
*.sqlite
